## This is basic continuous integration build for your Quarkus application.

name: Quarkus Codestart CI

on:
  push:
    branches: [ master ]


jobs:
 build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Build
        run: ./mvnw verify -B
  
  docker-build-and-push:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - 
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: florw
          password: 4SmjaS6upfwy
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: florw/almsession:latest

